body {
  margin: 0;
  overflow: hidden;
  font-family: sans-serif;
}

canvas {
  display: block;
}

/*  Sidebar Styles  */
#sidebar {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 200px;
  max-height: 90vh;              /* Sidebar non cresce oltre 90% altezza finestra */
  overflow-y: auto;              /* Scroll verticale se necessario */
  background: #2e2f31;
  color: white;
  padding: 10px;
  z-index: 10;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#sidebar h3 {
  margin-top: 0;
  font-size: 16px;
  color: #ffffff;
}

/*  Palette di oggetti  */
.palette {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-bottom: 10px;         /* Per evitare che l'ultimo blocco sia tagliato */
}


.item-group {
  display: flex;
  flex-direction: column;
}

/* Pulsanti principali House Wall */
.item {
  background: #444;
  padding: 10px;
  text-align: center;
  cursor: pointer;
  border-radius: 5px;
  user-select: none;
  transition: background 0.2s ease;
  margin-bottom: 5px;
}

.item:hover {
  background: #666;
}

.item.selected {
  background: #888;
}

.submenu {
  display: none;
  flex-direction: column;
  gap: 10px;
  margin-top: 5px;
  margin-bottom: 10px;
}

/* button DONE */
#done-button {
  width: 100%;
  padding: 12px;
  margin-top: 15px;
  background-color: #90ee90; /* Verde chiaro */
  color: #1e1f21;
  font-weight: bold;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  user-select: none;
}

#done-button:hover {
  background-color: #32cd32; /* Verde acceso */
}

/* Stili per la Barra di Potenza */
#power-bar-container {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 300px;
  height: 25px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  border: 2px solid #fff;
  z-index: 100;
  display: none; /* Nascosta di default, la mostreremo via JS */
  padding: 3px;
}

#power-bar {
  width: 0%; /* Parte da 0 */
  height: 100%;
  background: linear-gradient(90deg, #ffee00, #ff6600, #ff0000);
  border-radius: 6px;
  transition: width 0.1s linear;
}

.preview {
  width: 90%;
  height: 120px;
  min-height: 120px;
  margin: 0 auto;
  background: #1e1f21;
  border-radius: 5px;
  cursor: pointer;
  display: block;
  border: 1px solid #333;
}
