body {
  margin: 0;
  overflow: hidden;
  font-family: sans-serif;
}

canvas {
  display: block;
}

/*  Sidebar Styles  */
#sidebar {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 200px;
  max-height: 90vh;              /* Sidebar non cresce oltre 90% altezza finestra */
  overflow-y: auto;              /* Scroll verticale se necessario */
  background: #2e2f31;
  color: white;
  padding: 10px;
  z-index: 10;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#sidebar h3 {
  margin-top: 0;
  font-size: 16px;
  color: #ffffff;
}

/*  Palette di oggetti  */
.palette {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-bottom: 10px;         /* Per evitare che l'ultimo blocco sia tagliato */
}


.item-group {
  display: flex;
  flex-direction: column;
}

/* Pulsanti principali House Wall */
.item {
  background: #444;
  padding: 10px;
  text-align: center;
  cursor: pointer;
  border-radius: 5px;
  user-select: none;
  transition: background 0.2s ease;
  margin-bottom: 5px;
}

.item:hover {
  background: #666;
}

.item.selected {
  background: #888;
}

.submenu {
  display: none;
  flex-direction: column;
  gap: 10px;
  margin-top: 5px;
  margin-bottom: 10px;
}

.preview {
  width: 90%;
  height: 120px;
  min-height: 120px;
  margin: 0 auto;
  background: #1e1f21;
  border-radius: 5px;
  cursor: pointer;
  display: block;
  border: 1px solid #333;
}
